@model Category
@{
    ViewData["Title"] = "Edit";
}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form asp-action="Edit" asp-controller="Category" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="CategoryName" class="col-sm-4 control-label"></label>
                    <div class="col-sm-8">
                        <input asp-for="CategoryName" class="form-control" />
                    </div>
                </div>
                <input type="submit" class="btn btn-success" value="Kategori Güncelle" />
            </form>
        </div>
    </div>
</div>